@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F5F5;
}



/*nav styling starts from here */
nav {
    width: 100%;
    height: 60px;
    background-color: #283C4A;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.navContent {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}
.searchBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.searchBox input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #F5F5F5;
}
.searchBox img {
    width: 40px;
    height: 40px;
    margin: 10px 0px;
}
.menu {
    width: 45%;
    margin-left: 10%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.item * {
    color: #c6ddec;
}
.item *:hover {
    color: white;
}
.item h6 {
    text-align: center;
}
.item i {
    font-size: 1.5rem;
    margin-bottom: 7px;
}
.menu-margin{
    margin-top: 2px 0px;
}
.menu-6 * {
    color: #c6ddec;
}
.menu-6 *:hover {
    color: white;
}
.menu-6 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.caret {
    width: 0px;
    height: 0px;
    border-top: 5px solid #c6ddec;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: relative;
    top: 10px;
    left: 5px;
}
.divider {
    height: 60px;
    width: 0.2px;
    background-color: #c6ddec;
}
.work {
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.workBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.row * {
    width: 5px;
    height: 5px;
    background-color: #c6ddec;
    margin: 1px 1px;
}
.row {
    display: flex;
}
.workContent h6 {
    font-size: 0.7rem;
    color: #c6ddec;
}
.extraContent{
    font-size: 1rem;
    font-family: sans-serif;
    width: 15%;
    text-align: center;
    color: #C8A561;
}
.extraContent:hover {
    text-decoration: underline;
}


/*Ads section starts here */
.ads-section {
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}
.ad-content-1 {
    color: blue;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.ad-content-2 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.ad-content-3 {
    margin: 0px 5px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}


/*main section styling starts here */
.main-section {
    width: 80%;
    margin: auto;
    display: flex;
    z-index: 1;
}
/* ################################################################################################# */


/*user profile and hashtag styling starts here */
.user-profile {
    width: 20%;
}
.profileHeaderBackground {
    width: 100%;
    height: 70px;
    background: rgb(45, 45, 80);
}
.profile-details {
    border: 1px solid lightblue;
    background-color: white;
}
.profile-details img {
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    bottom: 30px;
    left: 30%;
}
.profile-details h3 {
    font-size: 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    position: relative;
    bottom: 20px;
}
.profile-details h6 {
    font-size: 0.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
    position: relative;
    bottom: 20px;
}
.horizantal-divider {
    width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
    bottom: 20px;
}   
.profile-extra-info-content {
    width: 100%;
    /* border: 1px solid red; */
}
.profile-extra-info-content * {
    text-align: left;
}
.figure-numbers {
    color: blue;
    font-weight: bold;
}
.first-number {
    margin-left: 10px;
}
.second-number {
    margin-left: 86px;
}
.profile-extra-info > h6 {
    font-size: 1px;
    margin-right: 150px;
}
.userFollowedTags {
    width: 100%;
    height: auto;
    margin: 10px 0px;
    border: 1px solid lightblue;
    background-color: white;
    position: sticky;
    top: 70px;
}

/*user profile and hashtag styling ends here */

/* ######################################################################################### */

/*timeline post feed section styling starts here */
.timelinePost {
    width: 48%;
    /* border: 1px solid red; */
    margin: 0px 2%;
    display: flex;
    flex-direction: column;
}
.writePost {
    border: 1px solid lightblue;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
}
.writePostRow-1 {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightblue;
    color: rgb(87, 83, 83);
    background-color: white;
}
.startpost {
    height: 100%;
    width: 40%;
    border-right: 1px solid lightblue;
    line-height: 70px;
    margin-left: 20px;
}
.photoUpload {
    width: 20%;
    height: 100%;
    line-height: 70px;
    border-right: 1px solid lightblue;
    margin-left: 40px;
}
.videoUpload {
    width: 20%;
    height: 100%;
    line-height: 70px;
    border-right: 1px solid lightblue;
    margin-left: 50px;
}
.documentUpload {
    width: 20%;
    height: 100%;
    line-height: 70px;
    margin-left: 50px;
}
.writePostRow-2 {
    width: 100%;
    height: 40%;
    padding: 15px 20px;
}
.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid lightblue;
    height: 700px;
    background-color: white;
}
.userDetailsPostHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    /* border: 1px solid lightblue; */
    padding: 0px 10px;
}
.postCaption {
    height: 15%;
    padding: 10px 10px;
    /* border: 1px solid lightblue; */
}
.postImage {
    height: 60%;
    /* border: 1px solid lightblue; */
}
.postImage img {
    width: 100%;
    height: 100%;
}
.noOfPostLikeComment {
    height: 5%;
    width: 35%;
    padding: 5px 0px;
    /* border: 1px solid lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.noOfPostLikeComment .icon {
    padding: 7px;
    color: white;
    border-radius: 50%;
}
.noOfPostLikeComment .like {
    background-color: blue;
}
.noOfPostLikeComment .heart {
    background-color: red;
}
.dividerInPost {
    width: 95%;
    margin: 10px auto;
    height: 1px;
    background-color: lightblue;
}
.likeCommentShareBtn {
    height: 5%;
    width: 50%;
    margin: 5px 10px;
    /* border: 1px solid lightblue; */
    display: flex;
    justify-content: space-between;
}
.postbtn i {
    margin: 0px 3px;
}
.userImageAndBasicDetails {
    display: flex;
    justify-content: flex-start;
}
.userImageAndBasicDetails img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 50%;
}
.threeDotsMenu {
    display: flex;
    width: 30px;
    justify-content: space-evenly;
}
.dots {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}
.post1 {

}
.post2 {
    
}
.divider-margin-sorting-btn {
    width: 100%;
    margin: 2px 0px;
}
.divider-margin {
    height: 1px;
    width: 80%;
    float: left;
    background-color: lightblue;
    display: inline;
}
.sorting-btn {
    width: 20%;
    float: right;
    position: relative;
    bottom: 10px;
    left: 5px;
}
/*timeline post feed section styling ends here */

/* #################################################################################### */

/*suggested content section styling starts here */
.suggestedContent {
    width: 30%;
    height: 300px;
    border: 1px solid lightblue;
    background-color: white;
}
.followPage {
    margin: 30px 0px;
    padding: 0px 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.followPage h4 {
    color: blue;
    font-weight: lighter;
}
.suggested-page div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.suggested-page div span {
    font-size: 15px;
    margin: 0px 5px;
}
.follow-button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}
.follow-button:hover {
    border: 2px solid blue;
    font-weight: bold;
    background-color: lightblue;
}
.suggested-page {
    display: flex;
    justify-content: space-between;
}
.suggested-page img {
    width: 30px;
    height: 30px;
}
.suggestedContentDivider {
    width: 100%;
    background-color: lightblue;
    height: 1px;
}
.adBox-footerNavigation {
    width: 100%;
    border: 1px solid lightblue ;
    height: 450px;
    background-color: white;
    position: sticky;
    top: 70px;
}
.adBox {
    padding: 20px 10px;
}
.ad-level {
    float: right;
}
.ad-header {
    font-size: 12px;
}
.adSectionProfileImage {
    border-radius: 50%;
    margin: 10px 20px;
}
.imageWithKey {
    display: flex;
    justify-content: center;
}
.userViewsInDays {
    width: 100%;
    text-align: center;
}
.adBox-button {
    margin-left: 85px;
}
.menu-row-container {
    display: flex;
    flex-direction: column;

}
.menu-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}
.copyrightBox img{
    width: 20px;
    height: 20px;
    margin: 10px 10px;
    position: relative;
    top: 15px;
    right: 10px;
}
/*suggested content section styling ends here */